@model IPagedList<DESK_WEB.Models.DTO.InoperativeEquipmentVO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h3>설비 비가동 이력</h3>

                @using (Html.BeginForm("InoperativeEquipment", "Work", FormMethod.Get))
                {
                    <input id="startDate" type="date" style="width:150px; height:28px" name="startDate" />
                    <input id="endDate" type="date" style="width:150px; height:28px" name="endDate" />
                    <input id="search" type="text" placeholder="설비명을 입력하세요." style="width:170px; height:28px" name="keyword" />
                    <input type="submit" value="검색" style="padding:0px 6px 0px 6px; font-size:16px" />
                }


            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">

            <table class="table text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">설비 번호</th>
                        <th scope="col">설비명</th>
                        <th scope="col">비가동 시작 시간</th>
                        <th scope="col">비가동 종료 시간</th>
                        <th scope="col">비가동 시간(분)</th>
                        <th scope="col">비가동 등록자</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr class="inoperInfo">
                            <td>@item.Equipment_No</td>
                            <td>@item.Equipment_Name</td>
                            <td>@item.Inoperative_Start_Time</td>
                            @if (item.Inoperative_End_Time.ToString() == "0001-01-01 오전 12:00:00")
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@item.Inoperative_End_Time</td>
                            }
                            <td>@item.MinuiteDiff.ToString("###,##0")</td>
                            <td>@item.User_Name</td>
                        </tr>

                        <tr class="detailInfo hide" style="font-size: 14px; background-color: beige">
                            <td style="font-weight: bold;">비가동 사유</td>
                            <td colspan="2">@item.Inoperative_Reason</td>
                            <td style="font-weight: bold;">조치 내역</td>
                            <td colspan="2">@item.Action_History</td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="pager">
                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
            </div>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->  

<script>
    $(document).ready(function() {
        $(".inoperInfo").click(function () {
            $(this).next(".detailInfo").toggleClass("hide");
        })
    })
</script>